body{
    background: #fefefe;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    
}
h2{
    color: #1460AA;
}
.monday{
    color: aqua;
}
.tuesday{
    color: darkmagenta;
}
.wednesday{
    color: crimson;
}
.thursday{
    color: chocolate;
}
.friday{
    color: cadetblue;
}
p{
    color: #55505C;
}
.mainHeader{
 color:lightslategray;
}
.whoAmI,.diaryTeaching,.diarySport,.diaryRelationships,.diaryTravel,.footer
{
    color: #55505C;
}