html{
    box-sizing: border-box;
}
*,*:before, *:after{
    box-sizing: inherit;
}
body {
    background: rgb(201,190,98);
    background: linear-gradient(90deg, rgba(201,190,98,0.6166841736694677) 0%, rgba(37,166,176,0.258140756302521) 46%);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.monday {
    color: aqua;
}

.tuesday {
    color: darkmagenta;
}

.wednesday {
    color: crimson;
}

.thursday {
    color: chocolate;
}

.friday {
    color: cadetblue;
}

.header__title {
    color: rgb(85, 132, 179);
}

.about__paragraph, .diary__paragraph, .footer {
    color: #173753;
    padding-left: 10px;
}
.about__image{
    width: 100%;
    max-width: 150px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
}
.about__title, .diary__title {
    color: #247BA0;
}
.diary__title{
    clear: both;
}
.diary__teaching, .diary__sport, .diary__relationships, .diary__travel {
    color: #3F4739;
}
.footer{
    padding-left: 0;
}
.navigation__list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}
.navigation__link{
    text-decoration: none;
    margin-right: 30px;
}